/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-primary: #30313d;
  --c-secondary: #6a7383;
  --c-disabled: #a3acba;
  --c-info: #0570de;
  --c-success: #228403;
  --c-attention: #c84801;
  --c-critical: #df1b41;
  --c-white: #ffffff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-text: var(--c-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/*test*/
/*test*/

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
